<div class="hero-section">
  <div class="hero-section-text">
    <h1>Hi! I'm Marta</h1>
  </div>
</div>

<h1 class="section_title" id="aboutme">About me</h1>

<ul>
  <li>I was born in 1989 (that's not a secret, I like this year <i class="fa fa-smile-o" aria-hidden="true"></i> )</li>
  <li>I come from Piotrków Trybunalski, Poland</li>
  <li>Now I live and work in Warsaw, Poland</li>
  <li>I graduated Warsaw University of Technology</li>
  <li>I work in one of the media agencies in Warsaw, where I plan and buy campaign in mass media. </li>
  <li>I like dreaming, dancing, long-distance walking or cycling, discovering, listening to radio or music, playing impro shows, drawing and... </li>
  <li>... also some simple programming in Ruby / Ruby on Rails / HTML / CSS / jQuery. </li>
</ul>

<h1 class="section_title" id="myprojects">My projects</h1>

<section class="marketing-site-three-up">
  <div class="row">
    <div class="small-4 columns">
      <%= image_tag("todo.png", size: "450x350", alt: "To Do") %>
      <p></p>
      <h4 class="marketing-site-three-up-title"><%= link_to "TO DO", "https://github.com/Marta2909/ToDoList" %></h4>
      <p class="marketing-site-three-up-desc">a simple to-do list written in Rails (finished)</p>
    </div>
    <div class="small-4 columns">
      <%= image_tag("blog.png", size: "450x350", alt: "Blog") %>
      <p></p>
      <h4 class="marketing-site-three-up-title"><%= link_to "głodna Chleba", "https://github.com/Marta2909/Blog" %></h4>
      <p class="marketing-site-three-up-desc">a blog written in Rails (not finished yet)</p>
    </div>
    <div class="small-4 columns">
      <%= image_tag("freetimizer.png", size: "450x350", alt: "Freetimizer") %>
      <p></p>
      <h4 class="marketing-site-three-up-title"><%= link_to "Freetimizer", "https://github.com/Marta2909/Freetimizer" %></h4>
      <p class="marketing-site-three-up-desc">A Free Time Organizer web app written in Rails (not finished yet)</p>
    </div>
  </div>
</section>
